body{
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.col-8{
    flex:66.6%
}
.col-6{
    flex:50%
}
.col-4{
    flex:33.3%;
    max-width:30%;
    min-width: 300px;
}
.col-3{
    flex:25%
}

.row{
    display:flex;
    flex-wrap: wrap;
}
.container {
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3em;
    max-width: 1135px;
}
.text-center{
    text-align: center;
}
header{
    padding:0.5rem;
    color:#ec1943;
}
.header-wrapper{
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}
.search-wrapper input{
    padding-left: 1em;
    font-size: 1.5em;
}

.search-wrapper button {
    background: #ec1943;
    cursor: pointer;
    border: none;
    font-size: 1.5em;
    padding: 18px 20px;
}
.upload-wrapper i{
   margin-left: 0.1em;
   cursor: pointer;
}

.banner{
    background-image: url(https://www.fabholidays.in/web/image/20820-1.jpg);
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.banner-overlay {
    background: rgba(59, 62, 82, 0.25);
    height: 100%;
    width: 100%;
}
 .banner-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner-content .title{
    font-family: "Lobster", serif;
    color: #fff;
    font-size: 4em;  
}

.play-btn{
    background: whitesmoke;
    color:#ec1943;
    font-size: 2em;
    display: inline;
    border-radius: 50%;
    padding: 1em;
    cursor: pointer;
}

.category-banner {
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: space-around;
    padding: 1.5em;
    box-shadow: 0 0 10px 10px rgba(233, 31, 31, 0.1);
}

.capsule{
    border-radius: 90px;
    border: 1px solid #ec1943 ;
    text-align: center;
    padding:0 17px;
    margin-right: 7px;
    cursor: pointer;
    
}
.capsule:hover{
    background:#eb5472 ;
    color:white
}
.capsule.selected{
    background:#ec1943 ;
    color: white;
}

.section-title{
    position: relative;
}
.section-title:before {
    background: #cfd8dc;
    width: 100%;
}
.section-title:before, .section-title:after {
    content: '';
    height: 1px;
    bottom: 0;
    left: 0;
    position: absolute;
}
.section-title:after {
    background: #d50000;
    width: 8%;
}
.section-title .red-word{
    color:#ec1943;
}
