body{
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.col-8{
    flex:66.6%
}
.col-6{
    flex:50%
}
.col-4{
    flex:33.3%;
    max-width:30%;
    min-width: 300px;
}
.col-3{
    flex:25%
}

.row{
    display:flex;
    flex-wrap: wrap;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center{
    text-align: center;
}
header{
    padding:0.5rem;
    color:#ec1943;
}
.header-wrapper{
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}
.search-wrapper input{
    padding-left: 1em;
    font-size: 1.5em;
}

.search-wrapper button {
    background: #ec1943;
    cursor: pointer;
    border: none;
    font-size: 1.5em;
    padding: 18px 20px;
}
.upload-wrapper i{
   margin-left: 0.1em;
   cursor: pointer;
}
